.btnMenu{
    background-color:#15AC59 ; 
    color: white;
 }
 
 .btnMenu:hover{
     background-color: #166F47;
     color: white;
 }
 
 .form-control:focus{
    border-color: #15AC59 !important;
 }